@media screen and (max-width: 769px) {
    .banner_box{
        width: 100vw;
        height: 2rem;
        /* background: url(../../img/h5/index/headerbg.png); */
        background-size: 100% 100%;
        position: relative;
        min-width: 0;
        margin-top: 0.44rem !important;
    }
    .banner_box .swiper-container {
        width: 100vw;
        height:2rem;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    
    }
    .img{
        height:2rem;
        background-size: cover;
        background-position: center;
    }
    .banner_box .swiper-wrapper{
        width: 100%;
        height: 2rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .banner_box .swiper-slide img{
       width: 100%;
       height: 2rem;
    }
    .banner_box .smallImg{
       display: none;
    }
    /*头图文字*/
    .pushi_title h1{
        position: absolute;
        bottom:0.2rem;
        left: 0.1rem;
        font-size: 0.14rem;
        color: #fff;    
    }
    .major{
        position: absolute;
        bottom:0.2rem;
        right: 0.1rem;
        
    }
    .major h2{
        display: none;
        font-size: 0.12rem;
        color: #Fff;
    }
    .know_pushi{
        width:1rem;
        height:0.28rem;
        background:rgba(255,180,0,1);
        border-radius:0.25rem;
        font-size: 0.12rem;
        color: #000000;
        text-align: center;
        line-height: 0.28rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 0.1rem;
        box-sizing: border-box;
        margin-right: 0.1rem;
    }
    .iconxiangyou{
        font-size: 0.16rem !important;
    }
    /*拍摄专家*/
    .specialist{
        width: 100vw;
        height: auto;
        position: relative;
    }
    .specialist .down_bg{
        display: none;
    }
    .specialist h1{
        font-size: 0.14rem;
        font-weight: 400;
        text-align: center;
        margin: 0.37rem auto 0; 
    }
    .down_h5{
        display: block !important;
        width: 0.1rem;
        margin: 0.2rem auto 0;
    }
    .specialist ul{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .specialist ul li{
        width:2.57rem;
        height:2.43rem;
        background:rgba(255,255,255,1);
        box-shadow:5px 10px 30px 0px rgba(221,234,255,1);
        border-radius:10px;
        margin: 0.3rem auto 0.1rem;
    }
    .specialist ul li img{
        width: 100%;
        margin: 0 auto;
    }
    .specialist ul li p{
        font-size:0.2rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(74,74,74,1);
        line-height:0.3rem;
        text-align: center;
    }
    .carousel ul{
        width: 100vw;
        height: auto;
    }
    /*高品质照片*/
    .high_quality{
        width: 100vw;
        height: auto;
        min-width: 0;
        background: #4A689A;
        margin-top: 0.3rem;
    }
    .high_qualityh5_center{
        display: block !important;
        padding: 0.4rem 0.35rem;
        box-sizing: border-box;
    }
    .high_qualityh5_center li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.44rem;
    }
    .high_qualityh5_center li:nth-last-of-type(1){
        margin-bottom: 0;
    }
    .high_qualityh5_center li:nth-of-type(1) img{
        width: 0.7rem;
        height:0.87rem ;
    }
    .high_qualityh5_center li img:nth-of-type(2){
        width: 0.94rem;
        height:0.75rem ;
    }
    .high_qualityh5_center li div{
        display: flex;
        flex-direction: column;
    }
    .high_qualityh5_center li div p{
        font-size:0.24rem;
        font-family:SourceHanSansCN-Heavy;
        font-weight:800;
        color:rgba(255,255,255,1);
        line-height:0.36rem;
        margin: 0;
        text-align: center;
    }
    .high_qualityh5_center li div small{
        font-size:0.12rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:0.16rem;
        text-align: center;
    }
    .high_qualityh5_center li div small:nth-of-type(1){
        margin-top: 0.14rem;
    }
    .high_quality_center{
        display: none;
    }
    .case_carousel{
        width: 100vw;
        height: 3rem;
        background: #000;
        margin-top: 0.54rem;
        position: relative;
    }
    /*精彩服务案例*/
    .case{
        width: 100vw;
        min-width: 0;
    }
    .case_center{
        width: 100vw;
    }
    .case_center img{
        width: 1.18rem;
        margin: 0.56rem auto 0;
        position: static;
    }
    .case_center h2{
        font-size:0.14rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:0.2rem;
        text-align: center;
        margin-top: -0.4rem;
    }
    .carousel_wrap{
        position: absolute;
        left:0;
        overflow: hidden;
        display: flex;
    }
    .case_carousel{
        overflow: hidden;
    }
    .case_carousel .banner{
        transition: all .5s;
        display: flex;
    }
    .case_carousel .banner li{
        width: 100vw;
        height: 3rem;    
    }
    .case_carousel .banner li img{
        width: 100vw;
        height: 3rem;
    }
    .banner li img{
        width: 100%;
        margin:0 !important;
    }
    
    
   
    .left,.right{
        width:0.3rem;
        height:0.3rem;
        background:rgba(255,180,0,1);
        border-radius: 50%;
        position: absolute;
        top: 1.3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #FFF !important;
    }
    .left{
        left: 0.1rem;
    }
    .right{
        right: 0.1rem;
    }
    .case_carousel .list{
        width: 100vw;
        height:0.3rem;
        background: #000;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;  
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .case_carousel .list li a{
        width: 0.8rem;
        height: 0.3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .case_carousel .list a{
        font-size: 0.13rem;
        color: #fff;
        font-family:SourceHanSansCN-Heavy;
        font-weight:400;
    }
    .case_carousel .active a{
        color: #FFB400;
        font-family:SourceHanSansCN-Heavy;
        font-weight:800;
    }
   

    /*企业新闻*/
    .news{
        width: 100vw;
    }
    .news .down_news{
        width: 0.72rem;
        margin: 0.56rem auto 0;
        position: static;
    }
    .coverbg{
        width: 3rem;
        height:1.67rem;
        border-radius: 0.1rem;  
        position:absolute;
        top:0;
        left: 0;
        background: rgba(0, 0, 0, .6983);
        border-radius: 0.16rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .coverbg a{
        display: block;
        width: 0.89rem;
        height:0.3rem;
        line-height: 0.3rem;
        text-align: center;
        border-radius:0.19rem;
        border:1px solid rgba(255,255,255,1);
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color: #fff;
        font-size:0.12rem;
        margin: 0.8rem auto 0;
    }
    .news h2{
        font-size:0.14rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:0.2rem;
        text-align: center;
        margin-top: -0.4rem;
    }
    .news ul{
        width: 100vw;
        height: 3.4rem;
        display: flex;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding-left: 0.2rem;
        box-sizing: border-box;
        margin-top: 0.45rem;
        justify-content: initial;
    }
    .news ul li{
        width: 3rem;
        height: 3.1rem;
        background:rgba(255,255,255,1);
        box-shadow:5px 10px 30px 0px rgba(221,234,255,1);
        border-radius:0.1rem;
        margin-right: 0.2rem;
        position: relative;
    }
    .news ul li img{
        width: 3rem;
    }
    .none{
        display: none;
    }
    .news_dic{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }
    .news_dic p{
        font-size:0.22rem;
        font-family:SourceHanSansCN-Heavy;
        font-weight:800;
        color:rgba(0,0,0,1);
        line-height:0.24rem;
       
    }
    .news_dic  small{
        font-size:0.14rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(155,155,155,1);
        line-height:0.2rem;
    }
    /*服务客户*/
    .server_people{
        width: 100vw;
    }
    .server_people .down_server{
        width: 1.09rem;
        margin: 0.32rem auto 0;
        position: static;
    }
    .server_people h2{
        font-size:0.14rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:0.2rem;
        text-align: center;
        margin-top: -0.4rem;
    }
    .logoWall{
        display: none;
    }
    .logowall_h5{
        display: block !important;
        width: 3.15rem;
        margin: 0.4rem auto;
    }
    /*服务流程*/
    .flow{
        width: 100vw;
        height: auto;
        min-width: 0;
        margin-bottom: 0.35rem;
    }
    .flow_center{
        width: 100vw;
    }
    .flow_center .down_flow{
        width: 0.64rem;
        margin: 0.56rem auto 0;
    }
    .flow_center h2{
        font-size:0.14rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:0.2rem;
        text-align: center;
        margin-top: -0.4rem;
    }
    .count,.cir,.line,.text{
        display: none;
    }
    .counth5,.cirh5,.lineh5,.texth5{
       visibility: visible;
    }
    .listbox{
        width: 52vw;
        height: 5rem;
        margin: 0 auto;
        margin-top: 0.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .counth5{
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .counth5 li{
        color: #4A689A;
        font-size: 0.4rem;
        font-weight: bold;
    }
    .lineh5{
        display: block;
        width: 1px;
        height: 86%;
        border-right: 1px dashed #4A689A;
        margin-left: 0.28rem;
    }
    .cirh5{
        height: 92%;
        display: block;
        margin-left: -0.09rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .cirh5 li{
        width: 0.1rem;
        height: 0.1rem;
        line-height: 0.1rem;
        text-align: center;
        border: 0.02rem solid #4A689A;
        border-radius: 50%;    
    }
    .cirh5 li span{
        display: block;
        width: 0.07rem;
        height: 0.07rem;
        background: #4A689A;
        border-radius: 50%;
        text-align: center;
        margin: 0.0125rem auto 0;
    }
    .texth5{
        height: 95%;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0.23rem;
    }
    .texth5 li{
        font-family:SourceHanSansCN-Normal;
        font-size: 0.22rem;
        color: #4A689A;
        font-weight: 400;
    }
    /**优惠*/
    .favorable{
        width: 100vw;
        min-width: 0;
        height: 5rem;
        background: url(../../img/h5/index/yh.png);
        background-size: cover;
        padding: 0.6rem 0 ;
        box-sizing: border-box;
        z-index: 999;
        position: relative;
    }
    .favorable img{
        display: none;
    }
    .favorablePage{
        width: 68vw;
        margin: 0 auto;
    }
    .write h3:nth-of-type(1){
        font-size: 0.24rem;
        color: #4A689A;
        font-family:  DINCondensed-Bold;
    }
    .write h3:nth-of-type(2){
        font-size: 0.16rem;
        color: #4A689A;
        font-family: DINCondensed-Bold
    }
    .point span:nth-of-type(1){
        font-size: 0.6rem;
        font-family: DINCondensed-Bold;
        font-weight: bold;
        color: rgba(74,104,154,1);
    }
    .point small{
        font-size: 0.4rem;
        font-family: DINCondensed-Bold;
        font-weight: bold;
        color: rgba(74,104,154,1);
        line-height: 0.8rem;
    }
    .favorablePage_left{
        width: 64vw;
        margin: 0.15rem auto 0;
        display: flex;
        justify-content: space-between;
    }
    .make_appointments{
        width: 100%;
        height: 100%;
    }
    .point{
        height: 0.5rem;
        display: flex;
    }
    .from_group{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #F0F0F0;
        height: 0.5rem;
        margin-bottom: 0.14rem;
    }
    .from_group:nth-of-type(4){
        border: none !important;
    }
    .from_group  label{
        font-size:0.14rem;
        font-family:SourceHanSansCN-Heavy;
        font-weight:800;
        color:rgba(74,104,154,1);
        line-height:0.2rem;
        margin-bottom: 0.04rem;
    }
    .dashedline{
        display: block !important;
        width: 100%;
        height: 1px;
        border-bottom: 2px dashed #F0F0F0;
        margin: 0.33rem 0;
    }
    .from_group input{
        outline: none;
        border: none;
        background: rgba(0, 0, 0, 0);
    }
    .sp{
        display: flex;
        justify-content: space-between;
    }
    .getCode{
        font-size: 0.14rem;
        font-family: SourceHanSansCN-Heavy;
        font-weight: 800;
        color: rgba(74,104,154,1);
        line-height: 0.2rem;  
    }
    .appointmentBtn{
        width:1.89rem;
        height:0.3rem;
        background:linear-gradient(135deg,rgba(97,131,174,1) 0%,rgba(56,87,140,1) 100%);
        border-radius:0.2rem;
        color: #Fff;
        font-size: 0.12rem;
        text-align: center;
        line-height: 0.3rem;
        margin: 0.14rem auto 0;
    }
    /* .make_appointment .from_group input::-webkit-input-placeholder {
        color: #9B9B9B;
    } */
    .bottom_list{
        display: none;
    }
    /*button*/
    footer{
        display: none;
    }
    .btn-group{
        display: block !important;
        width: 0.3rem;
        position: fixed;
        right: 0.12rem;
        z-index: 99;
        bottom: 0.6rem;
        z-index: 100000;
    }
    .btn-group .order{
        width:0.3rem;
        height:1.1rem;
        background:rgba(255,180,0,1);
        border-radius:0.15rem;
        font-size: 0.14rem;
        line-height: 0.17rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding: 0.06rem 0.02rem;
        box-sizing: border-box;
        color: #000;
    }
    .btn-group .service{
        width:0.3rem;
        height:0.72rem;
        background:rgba(255,180,0,1);
        border-radius:0.15rem;
        font-size: 0.14rem;
        line-height: 0.17rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding: 0.06rem 0.02rem;
        box-sizing: border-box;
        margin-top: 0.24rem;
        color: #000;
    }
    .iconyuyuepaishe,.iconkefu{
        font-size: 0.14rem !important;
    }
    .bottom_bg{
        display: block;
        width: 100vw;
        height: 5.32rem;
        background: url(../../img/h5/index/bitmap.png);
        background-size: cover;
        margin-top: -3.4rem;
    }

    /*底部*/
    .bottom_h5{
        margin-top: -1.6rem !important;
    }
    .bottom_h5{
        display: block;
        width: 86vw;
        height: 3rem;
        margin: 0 auto
    }
    .list_dic {
        display: flex;
        flex-direction: column;
    }
    .list_dic li{
        height: 0.45rem;
        color: #323232;
        font-size: 0.14rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        border-bottom: 1px solid #F0F0F0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family:SourceHanSansCN-Normal;
    }
    .iconchevron-r{
        color: #F0F0F0;
        font-size: 0.14rem;
    }
    .list_last{
        display: flex;
        flex-direction: column;
        margin-top: 0.3rem;
    }
    .list_last  span{
        font-size:0.1rem;
        font-family:SourceHanSansCN-Light;
        font-weight:300;
        color:rgba(176,176,191,1);
        line-height:0.15rem;
        text-align: center;
    }
    .list_last p{
        font-size:0.12rem;
        font-family:SourceHanSansCN-Light;
        font-weight:300;
        color:rgba(5,5,5,1);
        line-height:0.18rem;
        text-align: center;
    }
    /*预约成功*/
    .appointment_succee{
        width:100vw;
        height:4.23rem;
        background:rgba(255,255,255,1);
        padding: 0.2rem;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        z-index:9999999;
    }
    .close .close_img{
        width: 0.26rem;
        float:right;
    }
    .succes_img{
        width: 0.48rem;
        margin: 0.46rem auto 0.22rem;
    }
    .appointment_succee p{
        font-size:0.18rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:0.25rem;
        letter-spacing:1px;
        text-align: center;
        margin: 0;
    }
    .appointment_succee h3{
        font-size:0.14rem;
        font-family:SourceHanSansCN-Heavy;
        font-weight:900;
        color:rgba(0,0,0,1);
        line-height:0.21rem;
        text-align: center;
    }
    .appointment_succee h3:nth-of-type(1){
        margin-top: 0.33rem;
    }
    .appointment_succee h3:nth-of-type(2){
        margin-top: 0.18rem;
    }
    .appointment_succee h4{
        font-size:0.14rem;
        font-family:SourceHanSansCN-Heavy;
        font-weight:normal;
        color:rgba(0,0,0,1);
        line-height:0.21rem;
        text-align: center;
    }
    .code{
        width: 0.8rem;
        margin: 0 auto;
    }
}