@media screen and (min-width: 769px) {
    .bottom_last{
        width: 100%;
        min-width: 1366px;
        height: 57px;
        background: url(../../img/pc/index/footer.png)no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bottom_last_center{
        width: 1200px;
        height: 57px;
        line-height: 57px;
        margin: 0 auto;
    }
    .bottom_last_center span{
        font-size:12px;
        font-family:SourceHanSansCN-Light;
        font-weight:300;
        color:rgba(216,216,216,1);
        line-height:18px;
    }
    .bottom_last_center span:nth-child(1){
        margin-right: 87px;
    }
    .bottom_last_center span:nth-child(3){
        float: right;
        line-height: 57px;
    }
     /*底部列表*/
     .bottom_list{
        width: 100%;
        min-width: 1366px;
        height: 235px;
        background: #33496A;
    }
    .bottom_list_center{
        width: 1200px;
        height: 205px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .bottom_list_center ul{
        padding: 28px 0;
        box-sizing: border-box;
    }
    .bottom_list_center ul li{
        line-height: 34px;
    }
    .bottom_list_center ul li span{
        font-size:18px;
        font-family:SourceHanSansCN-Heavy;
        font-weight:800;
        color:rgba(255,255,255,1);
        display: inline-block;
        margin-bottom: 10px;
    }
    .bottom_list_center ul li a{
        font-size:16px;
        font-family:SourceHanSansCN-Light;
        font-weight:300;
        color:rgba(255,255,255,1);
    }
    .none{
        display: none;
    }
}

@media screen and (max-width: 769px) {
    /*底部*/
    .bottom_h5{
        display: block;
        width: 86vw;
        height: 3rem;
        margin: 0 auto
    }
    .list_dic {
        display: flex;
        flex-direction: column;
    }
    .list_dic li{
        height: 0.4rem;
        color: #323232;
        font-size: 0.14rem;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        border-bottom: 1px solid #F0F0F0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family:SourceHanSansCN-Normal;
        position: relative;
    }
    .list_dic_li{
        height: 0.4rem;
    }
    .iconchevron-r{
        color: #F0F0F0;
        font-size: 0.14rem;
    }
    .list_last{
        display: flex;
        flex-direction: column;
        margin-top: 0.3rem;
    }
    .list_last  span{
        font-size:0.1rem;
        font-family:SourceHanSansCN-Light;
        font-weight:300;
        color:rgba(176,176,191,1);
        line-height:0.15rem;
        text-align: center;
    }
    .list_last p{
        font-size:0.12rem;
        font-family:SourceHanSansCN-Light;
        font-weight:300;
        color:rgba(5,5,5,1);
        line-height:0.18rem;
        text-align: center;
    }
    .mobilefoot {
        width: 100%;
        display:none;     
    }
    .mobilefoot a{
        color:rgba(5,5,5,1);
    }
    #nb_toolbar_dial{
        display: none !important;
    }
    #newBridge #nb_toolbar_wrap{
        width: 0.3rem !important;
        height: 0.72rem !important;
        right: 0.1rem !important;
        top: 5.2rem !important;
        left: auto !important;
        opacity: 0 !important;
    }
    .bottom_list{
        display: none;
    }
}